.pagebody
{
	background-color: #71BBFF;
}

.filter
{
	border: 2px solid black;
	border-radius: 15px;
	padding: 50px;
	background-color: #9FD1FF;
}

.title
{
	background-color: #9FD1FF;
}

.filter:hover
{
	padding: 50px;
	background-color: #F0F8FF;

}

.img
{
	max-width: 350px;
}

input[type=file]
{
	padding:10px;
}

